body {
    margin: 0px;
    font-family: sans-serif;

}

#headerSection {
    cursor: pointer;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid;
    border-color: rgb(236, 237, 241);
    ;
    display: flex;
    position: relative;

    .logo {
        width: 15%;
        height: 80px;
        background-color: #052c71;
        display: flex;
        align-items: center;
        padding-left: 1.5%;
        border: 0px solid;
        border-color: rgb(236, 237, 241);

    }

    .compute {
        padding-left: 2%;
        display: flex;
        align-items: center;
        flex-grow: 1;

    }

    .user {
        display: flex;
        align-items: center;
        margin-right: 1.5%;
        gap: 10px;



        .userhover {
            position: absolute;
            border: 1px solid;
            border-color: #eeefef;
            top: 70px;
            right: 20px;
            background-color: white;
            height: 350px;
            width: 300px;
            box-shadow: 0px 0px 5px #ccc;
            display: none;
            cursor: pointer;

            .userimg {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 15px;

                .textbox {
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    padding: 15px;

                    .name {
                        display: flex;

                    }
                }
            }

            .infoAboutProfile {
                .info {
                    padding-left: 15px;
                    padding-top: 8px;
                    color: #272a37;

                    &:hover {
                        color: #e4661b;
                    }
                }
            }

            .bottom {
                border-bottom: 1px solid;
                color: #eeefef;
                margin-top: 15px;

            }
        }

        .borderbottom {
            border-bottom: 1px solid;
            color: #eeefef;
            margin: 5%;

        }

        &:hover {
            .userhover {
                display: block;
            }
        }
    }
}


#contentSecton {
    display: flex;
    flex-direction: row;

    #sidebarSection {
        width: 20.8%;
        height: 100vh;
        background-color: #052c71;
        border-bottom: 1px solid;
        border-color: rgb(0, 51, 255);
        margin: 0px;

        .Menu {


            .dashbord {

                color: #97a2d3;
                padding-top: 50px;
                padding-left: 10px;

                padding-bottom: 40px;


                .minus {
                    color: #e4661b;
                    font-weight: bold;




                }

                .overview {
                    padding-left: 10px;
                    margin-top: 50px;
                }


            }

            .Dashbord {
                padding-left: 30px;
                font-weight: bold;

                .dashborditems {
                    display: flex;
                    gap: 10px;
                    color: aliceblue;

                    padding: 10px;



                    &:hover {
                        background-color: rgb(16, 16, 133);
                        padding: 10px;

                        .fa {
                            color: #e4661b;
                        }


                    }
                }
            }



            .border {
                border-bottom: 1px solid;
                border-color: blue;
                padding-top: 30px;
            }


        }
    }

    .koon {
        width: 500px;
        height: 500px;
        background-color: yellow;
        border: 1px solid;
    }



    .information {
        margin-left: 2%;
        margin-right: 2%;
        width: 100%;
        background-color: #f8fbfc;

        .para {
            padding-top: 20px;
        }

        .catagories {
            width: 100%;

            .intro {
                border: 1px solid;
                padding: 8px;
                display: flex;
                background-color: #052c71;
                color: #f8fbfc;
                flex-direction: row;

                .colmn {
                    padding-left: 4%;
                    display: flex;
                    flex-grow: 1;
                }
            }

            .Details {
                display: flex;
                margin-top: 8px;
                padding: 8px;
                background-color: yellow;
                background-color: #f0f4f7;

                .colmn {
                    display: flex;
                    flex-grow: 1;

                    .faarrow {
                        color: #e4661b;
                    }

                    .fa-solid {
                        color: #6571a7;
                    }
                }




            }

            .Storage {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                gap: 30px;
                cursor: pointer;

                .detailtable {
                    width: 50%;

                    table {

                        border-collapse: collapse;
                        width: 100%;
                    }

                    td,
                    th {

                        text-align: left;
                        padding: 11px;
                    }

                    tr:nth-child(odd) {
                        background-color: #eeefef;
                    }
                }

                .workstation-links {
                    width: 50%;

                    table {

                        border-collapse: collapse;
                        width: 100%;

                    }

                    td {

                        text-align: left;
                        padding: 12px;


                        a {
                            cursor: pointer;
                            text-decoration: none;
                        }
                    }


                }
            }


        }
    }
}

.tableEnd {

    padding-top: 60px;

    table {

        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {

        text-align: left;
        padding: 11px;
    }

    tr:nth-child(odd) {
        background-color: #eeefef;
    }
}


@media only screen and (max-width: 700px) {
    #headerSection {
        .logo {
            display: none;
        }
    }

    #contentSecton {
        display: flex;
        flex-direction: column;

        #sidebarSection {
            width: 100%;
            cursor: pointer;

        }

        .information {
            .catagories {
                width: 100%;

                .intro {
                    display: none;
                }

                .Details {
                    display: flex;
                    flex-direction: column;
                }

                .Storage {


                    display: flex;
                    flex-direction: column;

                    .detailtable {

                        width: 100%;

                        .tableone {
                            width: 100%;

                            td,
                            th {
                                width: 100%;
                            }

                            background-color: orange;

                        }
                    }
                }

            }
        }
    }
}