body {
  margin: 0px;
  font-family: sans-serif;
  overflow: auto;
}

body a {
  color: #316cbb;
}

#headerSection {
  cursor: pointer;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid;
  border-color: #ecedf1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#headerSection .logo {
  width: 15%;
  height: 80px;
  background-color: #052c71;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.5%;
  border: 0px solid;
  border-color: #ecedf1;
}

#headerSection .compute {
  padding-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#headerSection .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.5%;
  gap: 10px;
}

#headerSection .user .userhover {
  position: absolute;
  border: 1px solid;
  border-color: #eeefef;
  top: 70px;
  right: 20px;
  background-color: white;
  height: 300px;
  width: 300px;
  -webkit-box-shadow: 0px 0px 5px #ccc;
          box-shadow: 0px 0px 5px #ccc;
  display: none;
  cursor: pointer;
}

#headerSection .user .userhover .userimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

#headerSection .user .userhover .userimg .textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

#headerSection .user .userhover .userimg .textbox .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#headerSection .user .userhover .infoAboutProfile .info {
  padding-left: 15px;
  padding-top: 8px;
  color: #272a37;
}

#headerSection .user .userhover .infoAboutProfile .info:hover {
  color: #e4661b;
}

#headerSection .user .userhover .infoAboutProfile .info .fa {
  color: #67727f;
}

#headerSection .user .userhover .bottom {
  border-bottom: 1px solid;
  color: #eeefef;
  margin-top: 15px;
}

#headerSection .user .borderbottom {
  border-bottom: 1px solid;
  color: #eeefef;
  margin: 5%;
}

#headerSection .user:hover .userhover {
  display: block;
}

#contentSecton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#contentSecton #sidebarSection {
  width: 20.8%;
  background-color: #052c71;
  border-color: #0033ff;
  margin: 0px;
}

#contentSecton #sidebarSection .Menu .dashbord {
  color: #97a2d3;
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 40px;
}

#contentSecton #sidebarSection .Menu .dashbord .minus {
  color: #e4661b;
  font-weight: bold;
}

#contentSecton #sidebarSection .Menu .dashbord .overview {
  padding-left: 10px;
  margin-top: 50px;
}

#contentSecton #sidebarSection .Menu .Dashbord {
  padding-left: 30px;
  font-weight: bold;
}

#contentSecton #sidebarSection .Menu .Dashbord .computer {
  background-color: #101085;
  padding-left: 5px !important;
}

#contentSecton #sidebarSection .Menu .Dashbord .computer .fa {
  color: #e4661b;
}

#contentSecton #sidebarSection .Menu .Dashbord .dashborditems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: aliceblue;
  padding: 10px;
}

#contentSecton #sidebarSection .Menu .Dashbord .dashborditems:hover {
  background-color: #101085;
  padding: 10px;
}

#contentSecton #sidebarSection .Menu .Dashbord .dashborditems:hover .fa {
  color: #e4661b;
}

#contentSecton #sidebarSection .Menu .border {
  border-bottom: 1px solid;
  border-color: blue;
  padding-top: 30px;
}

#contentSecton .koon {
  width: 500px;
  height: 500px;
  background-color: yellow;
  border: 1px solid;
}

#contentSecton .information {
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
  background-color: #f8fbfc;
}

#contentSecton .information .para {
  padding-top: 20px;
}

#contentSecton .information .catagories {
  width: 100%;
}

#contentSecton .information .catagories .colmnblockone {
  display: none;
}

#contentSecton .information .catagories .colmnblockone .responsivename {
  display: none;
}

#contentSecton .information .catagories .intro {
  border: 1px solid;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #052c71;
  color: #f8fbfc;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

#contentSecton .information .catagories .intro .colmn {
  padding-left: 10px;
  width: 20%;
}

#contentSecton .information .catagories .Details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  padding: 8px;
  width: 100%;
  background-color: #f0f4f7;
}

#contentSecton .information .catagories .Details .startthing:hover .starter {
  display: block;
}

#contentSecton .information .catagories .Details .colmn {
  width: 20%;
  padding-left: 10px;
}

#contentSecton .information .catagories .Details .colmn .starter {
  width: 150px;
  height: 250px;
  position: absolute;
  right: 150px;
  background-color: #f8fbfc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
          box-shadow: 0px 0px 5px #ccc;
  display: none;
}

#contentSecton .information .catagories .Details .colmn .starter .text {
  padding: 10px;
}

#contentSecton .information .catagories .Details .colmn .starter .text:hover {
  color: #e4661b;
}

#contentSecton .information .catagories .Details .colmn .starter .stop {
  padding: 10px;
  color: #ccc;
}

#contentSecton .information .catagories .Details .colmn .fa {
  padding-right: 5%;
  color: #959fb7;
}

#contentSecton .information .catagories .Details .colmn .faarrow {
  color: #e4661b;
}

#contentSecton .information .catagories .Details .colmn .fa-solid {
  color: #6571a7;
}

#contentSecton .information .catagories .Storage {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  cursor: pointer;
}

#contentSecton .information .catagories .Storage .detailtable {
  width: 50%;
}

#contentSecton .information .catagories .Storage .detailtable table {
  border-collapse: collapse;
  width: 100%;
}

#contentSecton .information .catagories .Storage .detailtable td,
#contentSecton .information .catagories .Storage .detailtable th {
  text-align: left;
  padding: 11px;
}

#contentSecton .information .catagories .Storage .detailtable tr:nth-child(odd) {
  background-color: #eeefef;
}

#contentSecton .information .catagories .Storage .workstation-links {
  width: 50%;
}

#contentSecton .information .catagories .Storage .workstation-links table {
  border-collapse: collapse;
  width: 100%;
}

#contentSecton .information .catagories .Storage .workstation-links td {
  text-align: left;
  padding: 12px;
}

#contentSecton .information .catagories .Storage .workstation-links td a {
  cursor: pointer;
  text-decoration: none;
}

.tableEnd {
  padding-top: 60px;
}

.tableEnd table {
  border-collapse: collapse;
  width: 100%;
}

.tableEnd td,
.tableEnd th {
  text-align: left;
  padding: 11px;
}

.tableEnd td a,
.tableEnd th a {
  color: #316cbb;
}

.tableEnd tr:nth-child(odd) {
  background-color: #eeefef;
}

@media only screen and (max-width: 800px) {
  #headerSection .logo {
    display: none;
  }
  #contentSecton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contentSecton #sidebarSection {
    width: 100%;
    cursor: pointer;
    height: 100%;
  }
  #contentSecton .information {
    width: 90%;
  }
  #contentSecton .information .catagories {
    width: 100%;
  }
  #contentSecton .information .catagories .openCloseContent {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #contentSecton .information .catagories .openCloseContent .colmnblockone {
    width: 50%;
    background-color: #f0f4f7;
    color: black;
    border: 0px solid;
    display: block;
  }
  #contentSecton .information .catagories .openCloseContent .colmnblockone .colmn {
    padding: 10px;
  }
  #contentSecton .information .catagories .openCloseContent .colmnblockone .fa {
    color: #959fb7;
    padding-left: 20px;
    padding-top: 15px;
  }
  #contentSecton .information .catagories .openCloseContent .colmnblockone .faarrow {
    color: #e4661b;
  }
  #contentSecton .information .catagories .openCloseContent .Details {
    width: 50%;
  }
  #contentSecton .information .catagories .openCloseContent .Details .colmn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  #contentSecton .information .catagories .openCloseContent .Details .colmn .faarrow {
    display: none;
    padding-left: 30px;
    padding-top: 10px;
  }
  #contentSecton .information .catagories .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  #contentSecton .information .catagories .intro .colmn {
    padding: 10px;
  }
  #contentSecton .information .catagories .Details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contentSecton .information .catagories .Details .colmn {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contentSecton .information .catagories .Details .colmn .fa {
    display: none;
  }
  #contentSecton .information .catagories .Storage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contentSecton .information .catagories .Storage .detailtable {
    width: 100%;
  }
  #contentSecton .information .catagories .Storage .detailtable .tableone {
    width: 100%;
  }
  #contentSecton .information .catagories .Storage .detailtable .tableone tr {
    width: 100%;
  }
  #contentSecton .information .catagories .Storage .detailtable .tableone tr td {
    width: 50%;
  }
  #contentSecton .information .catagories .Storage .detailtable .tableone td,
  #contentSecton .information .catagories .Storage .detailtable .tableone th {
    width: 100%;
  }
  #contentSecton .information .catagories .Storage .workstation-links .imagediv img {
    width: 200%;
  }
}

@media only screen and (max-width: 415px) {
  #headerSection {
    width: 70%;
  }
  #headerSection .user span {
    display: none;
  }
  #contentSecton .information .catagories .openCloseContent .Details {
    display: none;
  }
  #contentSecton .information .catagories .openCloseContent .colmnblockone {
    width: 100%;
  }
  #contentSecton .information .catagories .openCloseContent .colmnblockone .fa-chevron-circle-down {
    color: #e4661b;
  }
  #contentSecton .information .catagories .openCloseContent .colmnblockone .responsivename {
    padding-left: 10px;
    display: block;
  }
  #contentSecton .information .catagories .openCloseContent .colmnblockone .colmn {
    font-weight: bold;
  }
}
/*# sourceMappingURL=index.css.map */