body {
    margin: 0px;
    font-family: sans-serif;
    overflow: auto;

    a {
        color: #316cbb;
    }
}

#headerSection {
    cursor: pointer;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid;
    border-color: rgb(236, 237, 241);
    ;
    display: flex;
    position: relative;

    .logo {
        width: 15%;

        height: 80px;
        background-color: #052c71;
        display: flex;
        align-items: center;
        padding-left: 1.5%;
        border: 0px solid;
        border-color: rgb(236, 237, 241);

    }

    .compute {
        padding-left: 2%;
        display: flex;
        align-items: center;
        flex-grow: 1;

    }

    .user {
        display: flex;
        align-items: center;
        margin-right: 1.5%;
        gap: 10px;



        .userhover {
            position: absolute;
            border: 1px solid;
            border-color: #eeefef;
            top: 70px;
            right: 20px;
            background-color: white;
            height: 300px;
            width: 300px;
            box-shadow: 0px 0px 5px #ccc;
            display: none;
            cursor: pointer;

            .userimg {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 15px;

                .textbox {
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    padding: 15px;

                    .name {
                        display: flex;

                    }
                }
            }

            .infoAboutProfile {
                .info {
                    padding-left: 15px;
                    padding-top: 8px;
                    color: #272a37;

                    &:hover {
                        color: #e4661b;
                    }

                    .fa {
                        color: #67727f;
                    }
                }
            }

            .bottom {
                border-bottom: 1px solid;
                color: #eeefef;
                margin-top: 15px;

            }
        }

        .borderbottom {
            border-bottom: 1px solid;
            color: #eeefef;
            margin: 5%;

        }

        &:hover {
            .userhover {
                display: block;
            }
        }
    }
}


#contentSecton {
    display: flex;
    flex-direction: row;

    #sidebarSection {
        width: 20.8%;
        // height: 100vh;
        background-color: #052c71;
        // border-bottom: 1px solid;
        border-color: rgb(0, 51, 255);
        margin: 0px;

        .Menu {


            .dashbord {

                color: #97a2d3;
                padding-top: 50px;
                padding-left: 10px;

                padding-bottom: 40px;


                .minus {
                    color: #e4661b;
                    font-weight: bold;




                }

                .overview {
                    padding-left: 10px;
                    margin-top: 50px;
                }


            }

            .Dashbord {
                padding-left: 30px;
                font-weight: bold;

                .computer {
                    background-color: rgb(16, 16, 133);
                    padding-left: 5px !important;

                    .fa {
                        color: #e4661b;
                    }
                }

                .dashborditems {
                    display: flex;
                    gap: 10px;
                    color: aliceblue;

                    padding: 10px;



                    &:hover {
                        background-color: rgb(16, 16, 133);
                        padding: 10px;

                        .fa {
                            color: #e4661b;
                        }


                    }
                }
            }



            .border {
                border-bottom: 1px solid;
                border-color: blue;
                padding-top: 30px;
            }


        }
    }

    .koon {
        width: 500px;
        height: 500px;
        background-color: yellow;
        border: 1px solid;
    }



    .information {
        margin-left: 2%;
        margin-right: 2%;
        width: 100%;
        background-color: #f8fbfc;

        .para {
            padding-top: 20px;
        }

        .catagories {
            width: 100%;

            .colmnblockone {
                display: none;

                .responsivename {

                    display: none;
                }

            }

            .intro {
                border: 1px solid;
                padding: 8px;
                display: flex;
                background-color: #052c71;
                color: #f8fbfc;
                flex-direction: row;

                width: 100%;

                .colmn {
                    padding-left: 10px;
                    width: 20%;


                }


            }

            .Details {
                display: flex;
                margin-top: 8px;
                padding: 8px;
                width: 100%;
                background-color: #f0f4f7;



                .startthing:hover {
                    .starter {
                        display: block;

                    }
                }

                .colmn {
                    width: 20%;
                    padding-left: 10px;


                    .starter {
                        width: 150px;
                        height: 250px;

                        position: absolute;
                        right: 150px;
                        background-color: #f8fbfc;
                        box-shadow: 0px 0px 5px #ccc;
                        display: none;

                        .text {
                            padding: 10px;

                            &:hover {
                                color: #e4661b;
                            }
                        }

                        .stop {
                            padding: 10px;
                            color: #ccc;
                        }


                    }

                    .fa {
                        padding-right: 5%;
                        color: #959fb7;
                    }

                    .faarrow {
                        color: #e4661b;
                    }

                    .fa-solid {
                        color: #6571a7;
                    }
                }




            }

            .Storage {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                gap: 30px;
                cursor: pointer;

                .detailtable {
                    width: 50%;

                    table {

                        border-collapse: collapse;
                        width: 100%;
                    }

                    td,
                    th {

                        text-align: left;
                        padding: 11px;
                    }

                    tr:nth-child(odd) {
                        background-color: #eeefef;
                    }
                }

                .workstation-links {
                    width: 50%;

                    table {

                        border-collapse: collapse;
                        width: 100%;

                    }

                    td {

                        text-align: left;
                        padding: 12px;


                        a {
                            cursor: pointer;
                            text-decoration: none;
                        }
                    }


                }
            }


        }
    }
}

.tableEnd {

    padding-top: 60px;

    table {

        border-collapse: collapse;
        width: 100%;
    }



    td,
    th {

        text-align: left;
        padding: 11px;

        a {
            color: #316cbb;
        }
    }

    tr:nth-child(odd) {
        background-color: #eeefef;
    }
}


@media only screen and (max-width: 800px) {
    #headerSection {
        .logo {
            display: none;
        }

    }

    #contentSecton {

        display: flex;
        flex-direction: column;

        #sidebarSection {
            width: 100%;
            cursor: pointer;
            height: 100%;

        }

        .information {
            width: 90%;





            .catagories {
                width: 100%;


                .openCloseContent {
                    width: 100%;
                    display: flex;



                    .colmnblockone {
                        width: 50%;
                        background-color: #f0f4f7;
                        color: black;
                        border: 0px solid;
                        display: block;

                        .colmn {
                            padding: 10px;

                        }

                        .fa {
                            color: #959fb7;
                            padding-left: 20px;
                            padding-top: 15px;
                        }

                        .faarrow {
                            color: #e4661b;

                        }


                    }

                    .Details {
                        width: 50%;

                        .colmn {
                            display: flex;
                            flex-direction: column;
                            width: 100%;

                            .faarrow {
                                display: none;
                                padding-left: 30px;
                                padding-top: 10px;
                            }

                        }
                    }
                }

                .intro {
                    display: flex;
                    flex-direction: column;
                    display: none;

                    .colmn {
                        padding: 10px;
                    }
                }

                .Details {
                    display: flex;
                    flex-direction: column;


                    .colmn {
                        padding: 10px;
                        display: flex;
                        flex-direction: column;

                        .fa {
                            display: none;

                        }
                    }
                }

                .Storage {


                    display: flex;
                    flex-direction: column;

                    .detailtable {

                        width: 100%;

                        .tableone {
                            width: 100%;

                            tr {
                                width: 100%;

                                td {
                                    width: 50%;
                                }
                            }

                            td,
                            th {
                                width: 100%;
                            }



                        }

                    }

                    .workstation-links {
                        .imagediv {
                            img {
                                width: 200%;
                            }
                        }
                    }
                }

            }



        }
    }
}


@media only screen and (max-width: 415px) {
    #headerSection {
        width: 70%;

        .user {
            span {
                display: none;
            }
        }
    }

    #contentSecton {


        .information {
            .catagories {
                .openCloseContent {

                    .Details {
                        display: none;
                    }

                    .colmnblockone {
                        width: 100%;

                        .fa-chevron-circle-down {
                            color: #e4661b;
                        }

                        .responsivename {
                            padding-left: 10px;
                            display: block;
                        }

                        .colmn {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

}